

<ion-content>
  <ion-list>
    <ion-list-header>
      Scheduled
    </ion-list-header>

    <ion-item routerLink="/tabs/job-details" routerDirection="root">
      <ion-avatar slot="start">
        <img src="./avatar-finn.png">
      </ion-avatar>
      <ion-label >
        <h2>Building construction</h2>
        <h3>Yelahanka</h3>
        <p></p>
      </ion-label>
    </ion-item>

    <ion-item routerLink="/tabs/job-details" routerDirection="root">
      <ion-avatar slot="start">
        <img src="./avatar-han.png">
      </ion-avatar>
      <ion-label>
        <h2>Han</h2>
        <h3>Look, kid...</h3>
        <p>I've got enough on my plate as it is, and I...</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      Earlier
    </ion-list-header>

    <ion-item routerLink="/tabs/job-details" routerDirection="root">
      <ion-avatar slot="start">
        <img src="./avatar-poe.png">
      </ion-avatar>
      <ion-label>
        <h2>Poe</h2>
        <h3>New Ride</h3>
        <p>I just upgraded my X-Wing. Next time...</p>
      </ion-label>
    </ion-item>

    <ion-item routerLink="/tabs/job-details" routerDirection="root">
      <ion-avatar slot="start">
        <img src="./avatar-ben.png">
      </ion-avatar>
      <ion-label>
        <h2>Ben</h2>
        <h3>Move Along</h3>
        <p>These aren't the droids you're looking for...</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
