<ion-header>
  <ion-toolbar size-md="5" offset-md="4" style=" display: flex; justify-content: space-around;" class="bgcolor">
    <ion-grid style="background: transparent;">
      <ion-row  style="background: transparent;">
        <ion-col style="display: flex; justify-items: right;">
          <div>
            <ion-avatar slot="start">
              <img src="assets/logo/logo_1.png">
            </ion-avatar>
          </div>
        <div style="display: block; justify-content: space-evenly;padding:20px 20px">
            <p style="margin-bottom: 0px; font-size: x-large; font-weight: 500;">Jobs</p>
        </div>
        </ion-col>
      </ion-row>
    </ion-grid>
   
  </ion-toolbar>
  </ion-header>
<ion-content>
  <ion-item color='light' class=" ion-margin input-fields">
    <b>No Jobs Appointed</b>
  </ion-item>
</ion-content>
