ion-content{
    --background:rgba(255,255,255,0);
}

ion-list{
    --background:rgba(255,255,255,0);
}

ion-item{   
     --background:rgba(255,255,255,0);
}
.list-md{
    --background:rgba(255,255,255,0);

}
