
.feeds {
    font-family: 'Nunito', sans-serif;
}

.bgcolor {
    // background-color: #fbb034;
    // --background: linear-gradient(315deg, #fbb034 10%, #ffdd00 84%);
    --background:rgba(255,255,255,0.6);
}



ion-content{
    // --background:url('../../../../assets/bg/bg1.jpeg') 0 0/100% 100% no-repeat;
    --background:rgba(255,255,255,0); 
  }

  
ion-card {
    border-radius: 15px;
  }
  
.drop {
    position: relative;
    margin-left: 90%;
    top: -50px;
  }
  
.apply-btn{
    background-color:#FABE5A;
    color: black;
    border-radius: 100px;
    margin-left: 70%;
  
    font-size: small;
   
    
  }