ion-slide{
    height: 30%;
    margin-top: 10px;
    border: 1px;
    border-bottom: darkgray;
    --bullet-background:  darkgray;
    --bullet-background-active:black;
}

.feeds {
    font-family: 'Nunito', sans-serif;
}

.bgcolor {
    // background-color: #fbb034;
    // --background: linear-gradient(315deg, #fbb034 10%, #ffdd00 84%);
    --background:rgba(255,255,255,0.6);


    


}
ion-content{
    // --background:url('../../../../assets/bg/bg1.jpeg') 0 0/100% 100% no-repeat;
    --background:rgba(255,255,255,0);
  
  
  }
