ion-slide{
    height: 30%;
    margin-top: 10px;
    border: 1px;
    border-bottom: darkgray;
    --bullet-background:  darkgray;
    --bullet-background-active:black;
}

.feeds {
    font-family: 'Nunito', sans-serif;
}