<ion-header>
  <ion-toolbar size-md="5" offset-md="4" style=" display: flex; justify-content: space-around;" class="bgcolor">
    <ion-grid style="background: transparent;">
      <ion-row  style="background: transparent;">
        <ion-col>
          <app-avtar>
          </app-avtar>
        </ion-col>
        <ion-col>
          <ion-button (click)="showModal()" fill="clear" style="height:100%; float:right;" >
            <ion-icon name="search-outline"></ion-icon>

          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
   
  </ion-toolbar>
</ion-header>

<ion-content >
<!--   
  <div class="slider" style="border-color: slategray; box-shadow: slategray; background-color: rgb(241, 240, 236);">
    <ion-slides pager=true>
      <ion-slide>
        
        <ion-img src=".../.././assets/mai_mazdoor_logo2.png"></ion-img>
        
      </ion-slide>
      
      <ion-slide>
        <h1>Test1</h1>
      </ion-slide>
    </ion-slides>
  </div> -->
  <ion-grid>
    <ion-row>
      <ion-col size-md="5" offset-md="4">
        <div class="feeds">

          <!-- <ion-card (click)="expandItem(item)" *ngFor="let item of items">
            <ion-card-header collapse="condense">
              <ion-card-subtitle>
                <ion-icon name="location"></ion-icon>Bangalore
              </ion-card-subtitle>
              <ion-card-title>Construction<ion-icon src=".../.././assets/icon/down.svg" style="margin-left: 58%; top: 10px;"></ion-icon></ion-card-title>
              <ion-card-subtitle>Ram Singh</ion-card-subtitle>
            </ion-card-header>
        
            <ion-card-content>
              <app-expandable expandHeight="400px" [expanded]="item.expanded">
               <p>Some description</p>
                      <p>Starts At : 11-11-2020</p>
                      <p>Ends At : 21-01-2021</p>
                      <p>Rating : 3.9</p>
                      <div class="apply-btn"><ion-button color="success" shape="round">APPLY</ion-button></div>
                      
              </app-expandable>
            </ion-card-content>
          </ion-card> -->

          <ion-card (click)="expandItem(job)" *ngFor="let job of job_list">
            <ion-card-header >
              <ion-card-subtitle>
                <ion-icon name="location"></ion-icon>{{job.contractor.contractor_location}}
              </ion-card-subtitle>
              <ion-card-title>{{job.job_name}} {{job.contractor.contractor_name}}<ion-icon src=".../.././assets/icon/down-arrow.svg" style="margin-left: 20%;"></ion-icon></ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <app-expandable expandHeight="400px" [expanded]="item.expanded">
                <p>{{job.job_description}}</p>
                <p>Starts At : {{job.job_start_date}}</p>
                <p>Ends At : {{job.job_end_date}}</p>
                <p>Rating : {{job.contractor.contractor_rating}}</p>
                <div class="apply-btn"><ion-button color="success" shape="round">APPLY</ion-button></div>
            </app-expandable>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  
</ion-content>
