
.bgcolor {
    // background-color: #fbb034;
    // --background: linear-gradient(315deg, #fbb034 10%, #ffdd00 84%);
    --background:rgba(255,255,255,0.6);

}
ion-content{
    --background:url('../../../assets/bg/bg-final.jpg') 0 0/100% 100% no-repeat;
    // --background:rgba(255,255,255,0);
  
  
  }
  .actionbutton{
    background-color:#FABE5A;
    // background-color:turquoise;
  
    // background: linear-gradient(to bottom, #BE6429 0%, #D8B358 75%);;
    color: black;
    border-radius: 100px;
    margin-left: 15px;
    margin-right: 13px;
    font-size: small;
    font-family: 'Nunito', sans-serif;
    box-shadow:10px 10px 10px 0px rgba($color: #000000, $alpha: 0.2) !important;
  
  }

  .alert{
    color: red;
    transition:5s;
    overflow: hidden;
    text-align: left;
    padding: 3px;
  
  }