ion-icon{
    color:#116e8d;
  }

ion-label {
    font-family: 'Nunito', sans-serif;
}
ion-content{
  --background:url('../../../assets/bg/bg-final.jpg') 0 0/100% 100% no-repeat ;

}
ion-tab-bar{
  --background:rgba(255,255,255,0);

}
ion-tab-button{
  --background:rgba(255,255,255,0);

}