<ion-content class="background ion-padding-top" >
  <ion-grid class="ion-content-center" style="margin-top: 0%;">
    <ion-row>
      <ion-col>
        <br><div style="align-content: center; text-align: center;font-size: small; "><b><p >Fill the Form</p></b></div>
        
      </ion-col>
    </ion-row>
    <ion-row class="ion-no-padding ion-no-margin">
      <ion-col size-md="5" offset-md="3.5" class="ion-no-padding ion-no-border ion-no-margin">
        <!-- SIGN IN DETAILS -->
        <form  #form="ngForm" (ngSubmit)="register(form)">          <!-- <ion-card class="ion-no-border" style="border-style: none;">
            <ion-card-content class="ion-no-border ion-no-margin ion-no-padding" style="border-style: none;"> -->
              
              <!-- EMAIL ID -->
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <ion-item color='light' style="border-radius: 100px;">
                      <ion-label position="floating" style="">Full Name</ion-label>
                      <ion-input name="s_name" type="text" style="" ngModel required></ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>
                <br>
                <ion-row>
                  <ion-col>
                    <ion-item color='light' style="border-radius: 100px;">
                      <ion-label position="floating">Mobile No.</ion-label>
                      <ion-input type="number" name="s_phno" ngModel required></ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>
                <br>
                <ion-row >
                  <ion-col >
                    
                    
                    <ion-item color='light' style="border-radius: 100px;">
                      <div style="width: 100%; ">
                        <ion-label position="floating">Password</ion-label>
                        <div style="display: flex; justify-content:space-between;width:100%;">
                          <!-- PASSWORD INPUT -->
                          <ion-input type="password" name="s_password" ngModel required></ion-input>
                        </div>
                        
                      </div>
                      
                    </ion-item>
                    
                    
                  </ion-col>
                </ion-row>
                <br>
                <ion-row >
                  <ion-col >
                    
                    
                    <ion-item color='light' style="border-radius: 100px;">
                      <div style="width: 100%; ">
                        <ion-label position="floating">Confirm Password</ion-label>
                        <div style="display: flex; justify-content:space-between;width:100%;">
                          <!-- PASSWORD INPUT -->
                          <ion-input type="password" name="s_confirm_password" ngModel required></ion-input>
                        </div>
                        
                      </div>
                      
                    </ion-item>
                    
                    
                  </ion-col>
                </ion-row>
                <br>
                <ion-row >
                  <ion-col >
                    
                    
                    <ion-item color='light' style="border-radius: 100px;">
                      <div style="width: 100%; ">
                        <ion-label position="floating">Location</ion-label>
                        <div style="display: flex; justify-content:space-between;width:100%;">
                          <!-- PASSWORD INPUT -->
                          <ion-input type="text" name="s_location" ngModel required></ion-input>
                        </div>
                        
                      </div>
                      
                    </ion-item>
                    
                    
                  </ion-col>
                </ion-row>
                <br>
                <ion-row >
                  <ion-col >
                    
                    
                    <ion-item color='light' style="border-radius: 100px;">
                      <div style="width: 100%; ">
                        <ion-label position="floating">Age</ion-label>
                        <div style="display: flex; justify-content:space-between;width:100%;">
                          <!-- PASSWORD INPUT -->
                          <ion-input type="number" name="s_age" ngModel required></ion-input>
                        </div>
                        
                      </div>
                      
                    </ion-item>
                    
                    
                  </ion-col>
                </ion-row>
                <br>
                <ion-row >
                  <ion-col >
                    
                    
                    <ion-item color='light' style="border-radius: 100px;">
                      <div style="width: 100%; ">
                        <ion-label position="floating">Sex</ion-label>
                        <div style="display: flex; justify-content:space-between;width:100%;">
                          <!-- PASSWORD INPUT -->
                          <ion-input type="text" name="s_gender" ngModel required></ion-input>
                        </div>
                        
                      </div>
                      
                    </ion-item>
                    
                    
                  </ion-col>
                </ion-row>
              </ion-grid>
              <br>
              
              <ion-button type="submit" [disabled]="form.invalid" class="actionbutton" expand='full' fill="clear" style="text-transform: none;">REGISTER</ion-button>
              <br><div style="align-content: center; text-align: center; color: #a8a8a8; font-size: small; "><b><p >Already Registered? <span style="color:  turquoise;" routerLink="/home">Login</span></p></b></div>
              
            <!-- </ion-card-content>
            
          </ion-card> -->
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
