.ion-content-center{
    margin-top: 50px;
  }
  
  .buttons-action{
    margin-left: 5px;
  }
  
  .signin-text{
    font-size: x-small;
    color: #a8a8a8;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    text-transform: none;
  }
  
  .signup-text{
    font-size: small;
    color: #000000;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    text-transform: none;
  }
  
  ion-input{
    background-color: #ededed;
    border-radius: 5px;
    font-size: small;
    width: 270px;
  }
  
  .actionbutton{
    background-color: turquoise;
    color: black;
    border-radius: 5px;
    margin-left: 15px;
    margin-right: 13px;
    font-size: small;
    font-family: 'Nunito', sans-serif;
  }