  <ion-content class="ion-justify-content-evenly background">
    <ion-grid class="ion-content-center ion-padding background" style="margin-top: 0px;">
      <!-- <ion-row> 
        <ion-col size-md="5" offset-md="3.5"><app-slide class="ion-no-padding"></app-slide></ion-col>
      </ion-row> -->
      <ion-row >
        <ion-col class="ion-no-margin ion-no-padding"  style="display: flex; justify-content: space-around;" size-sm="4" offset-md="4">
          <!-- <img src="../../assets/logo/mai_mazdoor_logo2.png" style="width: 80%;" class="ion-margin-horizontal" > -->
        </ion-col>
      </ion-row>
      <ion-row class="ion-no-padding ion-no-margin" style="height: inherit;">
        <ion-col size-sm="4" offset-md="4" id="hello" class="ion-no-margin md-col">
          <!-- SIGN IN DETAILS -->
          <ion-card class="ion-no-border card">
            <ion-card-content class="ion-no-border ion-no-margin" style="border-style: none;">
              <form #form="ngForm" (ngSubmit)="user_detail(form)">
                
                <!-- EMAIL ID -->
                <ion-grid>
                  <ion-row>
                    <ion-col>
                      <ion-item color='light' class="input-fields">
                        <ion-label position="floating"class="input-fields-label" ><ion-icon name="person" class="ion-no-padding ion-no-margin ion-no-border"></ion-icon>&nbsp;&nbsp;Name</ion-label>
                        
                        <ion-input type="text" name="u_name" class="input-field-text" #userName="ngModel" ngModel required pattern="[a-zA-Z\s]*" >
                        </ion-input>
                      </ion-item>
                      <div *ngIf="userName?.touched" class="alert">
                        <div *ngIf="userName?.errors?.required" class="alert">
                          Full Name is Required
                        </div>
                        <div *ngIf="userName?.errors?.pattern" class="alert">
                          Name must only be alphabetical
                        </div>
                      </div>
                    </ion-col>
                  </ion-row>
                  <br>
                  <ion-row>
                    <ion-col>
                      <ion-item color='light' class="input-fields">
                        <ion-label position="floating"class="input-fields-label" ><ion-icon name="calendar" class="ion-no-padding ion-no-margin ion-no-border"></ion-icon>&nbsp;&nbsp;Date of Birth</ion-label>
                        <ion-datetime displayFormat="D MMM YYYY" min="1960" [max]="year" name="DOB" #userDOB="ngModel" ngModel required></ion-datetime>
                      </ion-item>
                      <div *ngIf="userDOB?.touched" class="alert">
                        <div *ngIf="userDOB?.errors?.required" class="alert">
                          Date of Birth is Required
                        </div>
                      </div>
                    </ion-col>
                  </ion-row>
                  <br>
                  <ion-row > 
                    <ion-col >
                      <ion-item color='light' class="input-fields">
                        <ion-label class="input-fields-label"><ion-icon name="male-female-sharp"></ion-icon>&nbsp;Gender</ion-label>
                        <ion-select name="sex" placeholder="Select One" interface="alert" style="height: 64px; background:#f4f5f8" ngModel required>
                          <ion-select-option value="f" class="input-fields-label">Female</ion-select-option>
                          <ion-select-option value="m" class="input-fields-label">Male</ion-select-option>
                          <ion-select-option value="o" class="input-fields-label">Other</ion-select-option>
                        </ion-select>
                      </ion-item>        
                    </ion-col>
                  </ion-row>
                  <br>
                  <ion-row>
                    <ion-col>
                      <ion-item color='light' class="input-fields">
                        <ion-label class="input-fields-label"><ion-icon name="build"></ion-icon>&nbsp;&nbsp;Work Skill</ion-label>
                        <ion-select style="height: 64px;" [interfaceOptions]="work_skill" interface="alert" multiple="true" placeholder="Select" name="work_skill" ngModel required>
                          <ion-select-option [value]="w.Skill" *ngFor="let w of work">{{w.Skill}}</ion-select-option>
                        </ion-select>
                      </ion-item> 
                      <!-- <ion-item color='light' class="input-fields">
                        <ion-label position="floating"class="input-fields-label" ><ion-icon name="call" class="ion-no-padding ion-no-margin ion-no-border"></ion-icon>&nbsp;&nbsp;Mobile Number</ion-label>
                        
                        <ion-input type="number" name="s_phno" class="input-field-text" #userNumber="ngModel" maxlength="10" minlength="10" ngModel required pattern="^[9876]\d{9}$" >
                          
                        </ion-input>
                      </ion-item>
                      <div *ngIf="userNumber?.touched" class="alert">
                        <div *ngIf="userNumber?.errors?.required" class="alert">
                          Mobile Number is Required
                        </div>
                        <div *ngIf="userNumber?.errors?.pattern" class="alert">
                          Mobile Number must contain 10 digits starting with 6-9
                        </div>
                      </div> -->
                    </ion-col>
                  </ion-row>
                  <br>

                  <ion-row style="display: flex; justify-content: flex-end;">
  
                    <ion-button type="submit" class="actionbutton" fill="clear" style="text-transform: none; font-weight: 1000;" [disabled]="form.invalid" routerLink="register">Continue &nbsp;<ion-icon name="arrow-forward"></ion-icon></ion-button>
                  </ion-row>
                </ion-grid>
                <br>
                <br><br>
                <div style="align-content: center; text-align: center; color: #a8a8a8;font-weight: bold; font-size: small; "><b><p >Don't have an account? <span style="color:  black; font-weight: 500" routerLink="/signup">Create</span></p></b></div>
              </form>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>