.ion-content-center{
    margin-top: 50px;
  }
  
  ion-content.background{
    --background:url('../../assets/bg/bg1.jpeg') 0 0/100% 100% no-repeat ;
  
  
  }
  .buttons-action{
    margin-left: 5px;
  }
  
  .signin-text{
    font-size: x-small;
    color: #a8a8a8;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    text-transform: none;
  }
  
  .signup-text{
    font-size: small;
    color: #000000;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    text-transform: none;
  }
  

  .actionbutton{
    background-color: turquoise;
    color: black;
    border-radius: 100px;
    margin-left: 15px;
    margin-right: 13px;
    font-size: small;
    font-family: 'Nunito', sans-serif;
  }