  <ion-content class="ion-justify-content-evenly background">
    <ion-grid class="ion-content-center ion-padding background" style="margin-top: 0px;">
      <ion-row class="ion-no-padding ion-no-margin" style="height: inherit;">
        <p class="ion-margin ion-border ion-padding" style="margin-top:20px; margin-left:10%;font-weight: 700; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: x-large; ">REGISTER</p>
        
        <ion-col size-sm="4" offset-md="4" id="hello" class="ion-no-margin md-col">
          <!-- SIGN IN DETAILS -->
          <ion-card class="ion-no-border card">
            <ion-card-content class="ion-no-border ion-no-margin" style="border-style: none;">
              <form #form="ngForm" (ngSubmit)="user_detail(form)">
                
                <!-- EMAIL ID -->
                <ion-grid>
                  <ion-row>
                    <ion-col>
                      <ion-item color='light' class="input-fields">
                        <ion-label position="floating"class="input-fields-label" ><ion-icon name="person" class="ion-no-padding ion-no-margin ion-no-border"></ion-icon>&nbsp;&nbsp;Name</ion-label>
                        
                        <ion-input type="text" name="s_name" class="input-field-text" #userName="ngModel" ngModel required pattern="[a-zA-Z\s]*" >
                        </ion-input>
                      </ion-item>
                      <div *ngIf="userName?.touched" class="alert">
                        <div *ngIf="userName?.errors?.required" class="alert">
                          Full Name is Required
                        </div>
                        <div *ngIf="userName?.errors?.pattern" class="alert">
                          Name must only be alphabetical
                        </div>
                      </div>
                    </ion-col>
                  </ion-row>
                  <br>
                  <ion-row>
                    <ion-col>
                      <ion-item color='light' class="input-fields">
                        <ion-label position="floating"class="input-fields-label" ><ion-icon name="calendar" class="ion-no-padding ion-no-margin ion-no-border"></ion-icon>&nbsp;&nbsp;Date of Birth</ion-label>
                        <ion-datetime displayFormat="D MMM YYYY" min="1960" [max]="year" name="s_dob" #userDOB="ngModel" ngModel required></ion-datetime>
                      </ion-item>
                      <div *ngIf="userDOB?.touched" class="alert">
                        <div *ngIf="userDOB?.errors?.required" class="alert">
                          Date of Birth is Required
                        </div>
                      </div>
                    </ion-col>
                  </ion-row>
                  <br>
                  <ion-row > 
                    <ion-col >
                      <ion-item color='light' class="input-fields">
                        <ion-label class="input-fields-label"><ion-icon name="male-female-sharp"></ion-icon>&nbsp;Gender</ion-label>
                        <ion-select  placeholder="Select One" interface="alert" style="height: 64px; background:#f4f5f8" name="s_gender"ngModel required>
                          <ion-select-option value="F" class="input-fields-label">Female</ion-select-option>
                          <ion-select-option value="M" class="input-fields-label">Male</ion-select-option>
                          <ion-select-option value="O" class="input-fields-label">Other</ion-select-option>
                        </ion-select>
                      </ion-item>        
                    </ion-col>
                  </ion-row>
                  <br>
                  <ion-row>
                    <ion-col>
                      <ion-item color='light' class="input-fields">
                        <ion-label class="input-fields-label"><ion-icon name="build"></ion-icon>&nbsp;&nbsp;Work Skill</ion-label>
                        <ion-select style="height: 64px;" interface="alert" multiple="true" placeholder="Select" name="s_skill" ngModel required>
                          <ion-select-option value="{{skill.skill_id}}" *ngFor="let skill of skill_list">{{skill.skill_desc}}</ion-select-option>
                        </ion-select>
                      </ion-item> 
                    </ion-col>
                  </ion-row>
                  <br><br>

                  <ion-row style="display: flex; justify-content: flex-end;">
  
                    <ion-button type="submit" class="actionbutton" fill="clear" style="text-transform: none; font-weight: 1000;" [disabled]="form.invalid" routerLink="register">Continue &nbsp;<ion-icon name="arrow-forward"></ion-icon></ion-button>
                  </ion-row>
                </ion-grid>
                <br>
                <br><br>
                <div style="align-content: center; text-align: center; color: #a8a8a8;font-weight: bold; font-size: small; "><b><p style="margin-bottom:0px;" >Already have an account? <span style="color:  black; font-weight: 500" routerLink="/home">Register</span></p></b></div>
              </form>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>