
  <ion-content>
      <div class="profile-pic"> 
      <img src="http://127.0.0.1:8000/media/{{profile.s_image}}">
    </div>

    <div class="info">
    <ion-list>
    <ion-item class="bgcolor">
      <ion-icon name="person-outline" size="small"></ion-icon>
      <ion-label style="font-family: 'Nunito', sans-serif; background-color: transparent;">
        {{profile.s_name}}
      </ion-label>
    </ion-item>
    <ion-item >
      <ion-icon name="calendar-outline" size="small"></ion-icon>
      <ion-label style="font-family: 'Nunito', sans-serif;">
        {{profile.s_dob}}
      </ion-label>
    </ion-item>
    <ion-item >
      <ion-icon src=".../.././assets/icon/gender.svg" size="small"></ion-icon>
      <ion-label style="font-family: 'Nunito', sans-serif;">
        {{profile.s_gender}}
      </ion-label>
    </ion-item>
    <ion-item >
      <ion-icon name="phone-portrait-outline" size="small"></ion-icon>
      <ion-label style="font-family: 'Nunito', sans-serif;">
        {{profile.s_phno}}
      </ion-label>
    </ion-item>
    <ion-item >
      <ion-icon name="location-outline" size="small"></ion-icon>
      <ion-label style="font-family: 'Nunito', sans-serif;">
        Assam
      </ion-label>
    </ion-item>
   </ion-list>
  </div>
  <div class="btn">
  <ion-button class="btn" color="secondary" expand="block">Edit Profile</ion-button></div>
  </ion-content>

