ion-content{
  --background:rgba(255,255,255,0);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover
}

.bgcolor {
  // background-color: #fbb034;
  // --background: linear-gradient(315deg, #fbb034 10%, #ffdd00 84%);
  --background: transparent !important;

}


ion-icon{
  margin-left: 10px;
  color:#116e8d;
}

ion-label{
  margin-left: 50px;
}

.btn {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

ion-button {
  color: black;
  border-radius: 50%;
  font-family: 'Nunito', sans-serif;
}
  
  .profile-pic {
    position: relative;
    border: 5px solid #079ed1;
    padding: 3px;
    border-radius: 100%;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    box-shadow: black;
    margin: 0 auto;
    width: 128px;
    height: 128px;
    overflow: hidden;
    top: 40px;
  }
  
  .profile-pic img {
    width: 128px;
    border-radius: 100%;
  }
  
 .info {
  font-family: 'Nunito', sans-serif;
  margin-top: 50px;
 }

 