ion-content{
  --background:rgba(255,255,255,0);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover
}

.bgcolor {
  // background-color: #fbb034;
  // --background: linear-gradient(315deg, #fbb034 10%, #ffdd00 84%);
  --background:rgba(255,255,255,0.6);
}

ion-card{
  border-style: none; 
  // background : #f4f5f8;
  background: rgba(255,255,255,0.7);
  // box-shadow:10px 10px 10px 0px rgba($color: #000000, $alpha: 0.2) !important;
  // border-top-left-radius: 20px;
  // border-bottom-right-radius: 20px;
}
ion-item{
  --background:rgba(0,0,0,0);
}

.details{
 display: flex; 
 justify-content: space-between;
 margin:20px 20px;

}
.skill-field{
  margin:20px 0px 10px 20px;
}
.skill-chip{
  font-size:medium;
  font-weight: 700;
  color: #034efc;
}

.btn {
//   margin-top: 10px;70A1E3
  
  background-color:#70A1E3;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 10px;
    margin-top: 30%;
}



 .input-fields{
  box-shadow:10px 10px 10px 0px rgba($color: #000000, $alpha: 0.2) !important;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;

}
ion-text{
  font-size:larger;
  font-weight: 500;
  color: #034efc;

}

.input-fields-label{
  color: black;

  font-size: medium;
  font-weight: 300;
}
.actionbutton{
  background:#FABE5A;
  // background-color:turquoise;
  // background: linear-gradient(to bottom, #BE6429 0%, #D8B358 75%);;
  color: black;
  border-radius: 100px;
  margin-left: 15px;
  margin-right: 13px;
  font-size: small;
  font-family: 'Nunito', sans-serif;
  box-shadow:10px 10px 10px 0px rgba($color: #000000, $alpha: 0.2) !important;
  padding: 10px 18px;
  font-weight: 500;
  align-self: center;

}