.ion-content-center{
  margin-top: 50px;
}

.buttons-action{
  margin-left: 5px;
}

.signup-text{
  font-size: x-small;
  color: #a8a8a8;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  text-transform: none;
}

.signin-text{
  font-size: small;
  color: #000000;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  text-transform: none;
}

ion-item{
  background-color: darkgray;
  border-radius: 5px;
  font-size: small;
}

.actionbutton{
  background-color: turquoise;
  color: black;
  border-radius: 100px;
  margin-left: 15px;
  margin-right: 13px;
  font-size: small;
  font-family: 'Nunito', sans-serif;
}

ion-checkbox{
  border: #a04eff ;
  border-radius: 0px;
  --height: 10px;
  --width: 10px;
  --checkmark-color:white;
  --background-checked:#a04eff;
  --border: #a04eff;
}


.line{
  border-bottom: 1px solid grey;
  margin-bottom: 24px;
}

.fbbutton{
  background-color: #3b5998;
  border-radius: 100px;
  color: cornsilk;
  margin-bottom: 1px;
  font-family: 'Nunito', sans-serif;
  text-transform: none;
}

.googlebutton{
  background-color: #ea4335;
  border-radius: 100px;
  color: cornsilk;
  margin-bottom: 40px;
  font-family: 'Nunito', sans-serif;
  text-transform: none;
}