<ion-content class="ion-justify-content-evenly" >
  <ion-grid class="ion-content-center ion-no-padding" style="margin-top: 0%;">
    <ion-row> <ion-col size-md="5" offset-md="3.5"><app-slide class="ion-no-padding"></app-slide></ion-col>
    </ion-row>
    <ion-row class="ion-no-padding ion-no-margin">
      <ion-col size-md="5" offset-md="3.5" class="ion-no-padding ion-no-border ion-no-margin">
        <!-- SIGN IN DETAILS -->
        <form #form="ngForm" (ngSubmit)="login(form)">
        <ion-card class="ion-no-border" style="border-style: none;">
          <ion-card-content class="ion-no-border ion-no-margin" style="border-style: none;">

            <!-- EMAIL ID -->
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-item color='light' style="border-radius: 100px;">
                    <ion-label position="floating">Mobile No.</ion-label>
                    <ion-input type="number" name="s_phno"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <br>
              <ion-row >
                <ion-col >
                  
                  
                  <ion-item color='light' style="border-radius: 100px;">
                    <div style="width: 100%; ">
                        <ion-label position="floating">Password</ion-label>
                        <div style="display: flex; justify-content:space-between;width:100%;">
                          <!-- PASSWORD INPUT -->
                          <ion-input type="password" name="s_password"></ion-input>

                          <!-- SHOW/HIDE PASSWORD ICON -->
                          <ion-button fill='clear' >
                            <ion-icon name="eye-outline"></ion-icon>
                          </ion-button></div>
            
                      </div>
                      
                    </ion-item>
                    
                    
                    
                  </ion-col>
                </ion-row>
              </ion-grid>
              <br>
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <div style="display:flex; height:36px; text-align:justify; margin-top:12px;">
                      <ion-checkbox></ion-checkbox>&nbsp;&nbsp;
                      <ion-label style="font-size:small; font-family: 'Nunito',sans-serif; text-align:center">Stay Connected</ion-label>
                    </div>
                  </ion-col>
                  <ion-col >
                    <!-- FORGOT PASSWORD -->
                    <ion-button fill="clear" style="font-size: small; color: #a8a8a8; text-transform: none; font-family: 'Nunito',sans-serif;">Forgot Password?</ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
              <ion-button type="submit" class="actionbutton" expand='full' fill="clear" style="text-transform: none;">LOGIN</ion-button>
              <br><div style="align-content: center; text-align: center; color: #a8a8a8; font-size: small; "><b><p >New User? <span style="color:  turquoise;" routerLink="/signup">Register</span></p></b></div>

            </ion-card-content>
            
          </ion-card>
          </form>
        </ion-col>
      </ion-row>
    </ion-grid>
    
  </ion-content>
