.ion-content-center{
  margin-top: 50px;
}

ion-content.background{
  --background:url('../../assets/bg/bg1.jpeg') 0 0/100% 100% no-repeat ;
}

ion-card{
  border-style: none; 
  background : rgba(0,0,0, 0.3); 
  margin-top:20%
}

.input-fields{
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.input-fields-label{
  font-size: medium;
  font-weight: 300;
  font-family: Arial, Helvetica, sans-serif;
}
.input-fields-text{
  font-size:larger;
  font-weight: 300;
  font-family: Arial, Helvetica, sans-serif;
}

.signup-text{
  font-size: large;
  color: #a8a8a8;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  text-transform: none;

}

.signin-text{
  font-size: large;
  color: #000000;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  text-transform: none;
}

ion-item{
  background-color: darkgray;
  border-radius: 5px;
  font-size: small;
}

.actionbutton{
  background-color:#FBD40B;
  color: black;
  border-radius: 100px;
  margin-left: 15px;
  margin-right: 13px;
  font-size: small;
  font-family: 'Nunito', sans-serif;
}

ion-checkbox{
  border: #a04eff ;
  border-radius: 0px;
  --height: 10px;
  --width: 10px;
  --checkmark-color:white;
  --background-checked:#a04eff;
  --border: #a04eff;
}


.line{
  border-bottom: 1px solid grey;
  margin-bottom: 24px;
}

.fbbutton{
  background-color: #3b5998;
  border-radius: 100px;
  color: cornsilk;
  margin-bottom: 1px;
  font-family: 'Nunito', sans-serif;
  text-transform: none;
}

.googlebutton{
  background-color: #ea4335;
  border-radius: 100px;
  color: cornsilk;
  margin-bottom: 40px;
  font-family: 'Nunito', sans-serif;
  text-transform: none;
}