
<ion-content class="ion-justify-content-evenly background">

  <ion-grid class="ion-content-center ion-padding background" style="margin-top: 0px; padding-top:0px;">
  
  
    <ion-row class="ion-no-padding ion-no-margin" style="height: inherit;">
      <ion-col size-sm="4" offset-md="4" id="hello" class="ion-no-margin md-col ion-no-padding">
        <!-- SIGN IN DETAILS -->
        <ion-card class="ion-no-border card">
          <ion-card-content class="ion-no-border ion-no-margin" style="border-style: none;">
            <form #form="ngForm" (ngSubmit)="user_register(form)">
              
              <!-- EMAIL ID -->
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <ion-item color='light' class="input-fields">
                      <ion-label position="floating"class="input-fields-label" ><ion-icon name="home" class="ion-no-padding ion-no-margin ion-no-border"></ion-icon>&nbsp;&nbsp;Home Address</ion-label>
                      
                      <ion-input type="text" name="s_locality" class="input-field-text" #userAdd="ngModel" ngModel required pattern="[a-zA-Z]{3,30}|([a-zA-Z]){3,30}\s[a-zA-Z]{2,20}" >
                      </ion-input>
                    </ion-item>
                    <div *ngIf="userAdd?.touched" class="alert">
                      <div *ngIf="userAdd?.errors?.required" class="alert">
                        Address is Required
                      </div>
                      <div *ngIf="userAdd?.errors?.pattern" class="alert">
                        Name must only be alphabetical
                      </div>
                    </div>
                  </ion-col>
                </ion-row>
                <br>
                <ion-row>
                  <ion-col>
                    <ion-item color='light' class="input-fields">
                      <ion-label   position="floating" class="input-fields-label"><ion-icon name="location"></ion-icon>&nbsp;&nbsp;City</ion-label>
                      <ion-select name="s_city" ngModel required>
                        <ion-select-option [value]="local.city" *ngFor="let local of location">{{ local.city }}</ion-select-option>
                      </ion-select>
                    </ion-item>
                  </ion-col>
                  <ion-col>
                    <ion-item color='light' class="input-fields" >
                      <ion-label position="floating" class="input-fields-label"><ion-icon name="locate"></ion-icon>&nbsp;&nbsp;State</ion-label>
                      <ion-select style="justify-content: center;" name="s_state" ngModel required>
                        <ion-select-option [value]="state.State" *ngFor="let state of location">{{state.State}}</ion-select-option>
                      </ion-select>
                    </ion-item>
                  </ion-col>
                </ion-row>
                <br>
                <ion-row>
                  <ion-col>
                    <ion-item color='light' class="input-fields">
                      <ion-label position="floating"class="input-fields-label" ><ion-icon name="s_phno" class="ion-no-padding ion-no-margin ion-no-border"></ion-icon>&nbsp;&nbsp;Mobile Number</ion-label>
                      
                      <ion-input type="number" name="s_phno" class="input-field-text" #userNumber="ngModel" ngModel required pattern="^[9876]\d{9}$" >
                        
                      </ion-input>
                    </ion-item>
                    <div *ngIf="userNumber?.touched" class="alert">
                      <div *ngIf="userNumber?.errors?.required" class="alert">
                        Mobile Number is Required
                      </div>
                      <div *ngIf="userNumber?.errors?.pattern" class="alert">
                        Mobile Number must contain 10 digits starting with 6-9
                      </div>
                    </div>
                  </ion-col>
                </ion-row>
                <br>
                <ion-row >
                  <ion-col>
                    
                    <ion-item color='light' class="input-fields">
                      <div style="width: 100%; ">
                        <ion-label position="floating" class="input-fields-label"><ion-icon name="lock-closed">
                          
                        </ion-icon>&nbsp;&nbsp;Password
                      </ion-label>
                      <div style="display: flex; justify-content:space-between;width:100%;">
                        <!-- PASSWORD INPUT -->
                        <ion-input [type]="hide ? 'password' : 'text'"  name="s_password" #pass="ngModel" class="input-field-text" ngModel required></ion-input>
                        
                        <!-- SHOW/HIDE PASSWORD ICON  -->
                        <ion-button fill='clear' (click)="toggle()">
                          <ion-icon [name]= "hide ? 'eye-outline' : 'eye-off'"></ion-icon>                         
                        </ion-button></div>            
                      </div>                      
                    </ion-item>
                  </ion-col>
                </ion-row>
                <br>
                <ion-row >
                  <ion-col>
                    
                    <ion-item color='light' class="input-fields">
                      <div style="width: 100%; ">
                        <ion-label position="floating" class="input-fields-label"><ion-icon name="lock-closed">
                          
                        </ion-icon>&nbsp;&nbsp;Confirm Password
                      </ion-label>
                        <!-- PASSWORD INPUT -->
                        <ion-input type="password"  name="uc_password" #cpass="ngModel" class="input-field-text" ngModel required></ion-input>
            
                      </div>
                    </ion-item>
                    <div *ngIf="cpass?.touched" class="alert">
                      <div *ngIf="cpass?.errors?.required" class="alert">
                        Confirm Password is Required
                      </div>
                      <div *ngIf="cpass?.value != pass?.value" class="alert">
                        Password do not match
                      </div>
                    </div>
                  </ion-col>
                </ion-row>
                <br>

                <ion-row style="display: flex; justify-content: flex-end;">
                  <ion-col style="display: flex; justify-content: space-between;">
                    <ion-button class="actionbutton" fill="clear" style="text-transform: none; font-weight: 1000;" routerLink="/signup"><ion-icon name="arrow-back"></ion-icon> &nbsp;Back</ion-button>

                    <ion-button type="submit" class="actionbutton" fill="clear" style="text-transform: none; font-weight: 1000;" [disabled]="form.invalid" routerLink="/signup/profile-pic">Continue &nbsp;<ion-icon name="arrow-forward"></ion-icon></ion-button>

                  </ion-col>
                 </ion-row>
              </ion-grid>
              <!-- <br>
              <!-- <br><br> -->
              <!-- <div style="align-content: center; text-align: center; color: #a8a8a8;font-weight: bold; font-size: small; "><b><p >Don't have an account? <span style="color:  black; font-weight: 500" routerLink="/signup">Create</span></p></b></div> -->
            </form> 
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>